@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9ccc5d;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ffffff;
    margin: 20px 0;
}

.area {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.area .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.item.t {
    border-top: 1px solid #ffffff;
}
.item.l {
    border-left: 1px solid #FFF;
}
.item.r {
    border-right: 1px solid #FFF;
}
.item.b {
    border-bottom: 1px solid #ffffff;
}

.winner {
    background-color: #ffeb3b; /* Altere para a cor que preferir */
    border-radius: 5px;
  }


.info {
    width: 300px;
    display: flex;
    margin-top: 30px;
    border: 1px dotted #FFF;
    padding: 10px;
}
.infoitem {
    flex: 1;
}
.infotitulo {
    text-align: center;
    color: #FFF;
    margin-bottom: 10px;
}
.infocorpo {
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

.reset {
    border: 1px solid #b6faa2;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.719);
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
}

.reset:hover {
    background-color: #435c23;
}
